@model MyAppointer.Models.BigViewModel

@{
    ViewBag.Title = "Creating your Job";
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/CreateJob.js")"></script>
 
}

<h2>Creating your Job</h2>

@using (Html.BeginForm("Create", "Job", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Jobs</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Jobs.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Jobs.Title)
            @Html.ValidationMessageFor(model => model.Jobs.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Jobs.JobPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Jobs.JobPhone)
            @Html.ValidationMessageFor(model => model.Jobs.JobPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Jobs.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Jobs.Address)
            @Html.ValidationMessageFor(model => model.Jobs.Address)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Jobs.About)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Jobs.About)
            @Html.ValidationMessageFor(model => model.Jobs.About)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Jobs.JobTypeId, "Job Types")
        </div>
        <div class="editor-field">
           
        @Html.DropDownList("JobTypeId")

</div>

    <div  class="editor-label">
        @Html.HiddenFor(model => model.Jobs.JobTypeId)
    </div>

        <div class="editor-field days-wrapper">
            @Html.Raw("</br>  Days  </br>")
            @Html.HiddenFor(model => model.WeeklyWorkingDays[0].Id)
            @Html.EditorFor(model => model.WeeklyWorkingDays[0].Day)
        </div>
        <br /><input type="button" id="Add_day" value="Add Day"/><br />

        <div class="editor-field times-wrapper">
            @Html.Raw("</br>  Times  </br>")
            @Html.HiddenFor(model => model.WeeklyWorkingTimes[0].Id)
            @Html.EditorFor(model => model.WeeklyWorkingTimes[0].StartTime)
            @Html.EditorFor(model => model.WeeklyWorkingTimes[0].EndTime)
        </div>
        <br /><input type="button" id="Add_Time" value="Add Time" /><br />

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
