<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>

    <script src="~/Scripts/jquery-1.8.2-vsdoc.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />


    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Logo ----------/////------------------------------------------->
    <div class="container">
        <div id="logo">
            <img src="~/Content/images/logo.png" />
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>

        <!---------------------------- Logo-------------------------------------- -->

        <div class="container" style="margin:auto;">

            <nav class="navbar">
                <ul id="menu">
                    <li>@Html.ActionLink("contact", "Contact", "Home")</li>

                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                </ul>
                <div id="custom-search-input">
                    <div class="input-group col-md-3" style="float:right;margin-top:8px;">
                        <input type="text" class="  search-query form-control" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </nav>


        </div>
    </div>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


    <!-- footer-bottom -->
    <footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">


                <div class="col-sm-6">
                    <div class="copy-right text-right">
                        <p>&copy; Copyright <strong>Appointer</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- footer-bottom -->
    </footer>
</body>
</html>
