@model MyAppointer.Models.TimeTable
@{ MyAppointer.Models.Appointments appointment = new MyAppointer.Models.Appointments();  }
@{ MyAppointer.Models.TimeTable obj = (MyAppointer.Models.TimeTable)ViewData["data"];
    var i = 0; }
@{ string[] weekDays = { "شنبه", "یکشنبه", "دوشنبه", "سه شنبه", "چهارشنبه", "پنج شنبه", "جمعه" }; } 
@section CSS
{
    <link href="@Url.Content("~/Content/css/clockpicker.css")" rel="stylesheet" type="text/css" />
}

@{
    for (int j = 0; j < obj.days.Count; j++)
    {
        @Html.Raw("<input type='hidden' value='" + obj.days.ElementAt(j).ToString() + "' class='day_wrapper_"+j+"'>");
    }
    for (int j = 0; j < obj.times.Count; j++)
    {
        @Html.Raw("<input type='hidden' value='" + obj.times.ElementAt(j).StartTime.ToString()+"-"+obj.times.ElementAt(j).EndTime.ToString() + "' class='time_wrapper_"+ j +"'>");
    }

}

<input type="text" id="datepicker"/>
<input type="hidden" id="alternate" class="alternate"/>
<table style="border: 1px solid black; width: 100%" id="TimeTable" class="table table-hover table-bordered">
       <thead>
           <tr style="border: 1px solid black;">
               <th>روز هفته</th>
               <th>ساعت</th>
           </tr>
       </thead> 
        <tbody>

                   <tr class="times-row disabled" data-toggle="modal" data-target="#myModal">
                        <td class="text-center day-name"></td>
                        <td>
                            <div class="progress times">
                                @{
                                    float startTime, endtime;
                                    float percent, right;
                                    float LastStartTime = 420;
                                    for (int j = 0; j < obj.times.Count; j++)
                                    {

                                        startTime = obj.times.ElementAt(j).StartTime;
                                        endtime = obj.times.ElementAt(j).EndTime;
                                        percent = 100 * ((endtime - startTime) / 840);
                                        right = 100 * ((startTime - LastStartTime) / 840);
                                        LastStartTime = endtime;
                                        @Html.Raw("<div class='progress-bar progress-bar-success' style='width: " + @percent + "%;right:" + @right + "%' data-toggle='tooltip' data-placement='top' title='"+ Math.Floor(startTime/60).ToString() + ":"+ (startTime % 60).ToString() + "'></div>");

                                    }

                                        }
                            </div>
                            <div class="progress appointments">

                            </div>
                        </td>
                    </tr>                                   
        </tbody>
    </table>
@{ 
    //appointment.BookDate = 13941126;
    //appointment.StartTime = 560;
    //appointment.EndTime = 650;
    appointment.JobOwnerId = obj.jobOwner.Id;
    
    appointment.isReserved = true;
}


<script src="~/Scripts/clockpicker.js"></script>


@*<link href="~/Content/css/clockpicker.css" rel="stylesheet" />*@
<script src="~/Scripts/TimeTable.js"></script>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Time</h4>
      </div>
      <div class="modal-body">
        @using (Html.BeginForm("Home", "info", null, System.Web.Mvc.FormMethod.Post, new { @class = "reserve-form" }))
        {
            <fieldset>
                <legend>Appointments</legend>
                <input type="hidden" name="BookDate" id="BookDate" value="@Html.Raw(appointment.BookDate)" class="appointment-fields" />
                <input type="hidden" name="StartTime" id="StartTime" value="@Html.Raw(appointment.StartTime)" class="appointment-fields" />*

                <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                    <input type="text" id="StartTimeClock" class="form-control appointment-fields" value="13:14">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                <input type="hidden" name="EndTime" id="EndTime" value="@Html.Raw(appointment.EndTime)" class="appointment-fields" />
                <input type="hidden" name="JobOwnerId" id="JobOwnerId" value="@Html.Raw(obj.jobOwner.Id)" class="appointment-fields" />
                <input type="hidden" name="UserId" id="UserId" value="@Html.Raw(obj.userId)" class="appointment-fields" />
                Description:<br/>
                <input type="text" name="Description" id="Description" value="@Html.Raw(appointment.Description)" class="appointment-fields" />
                @*<input type="text" name="isReserved" id="isReserved" value="@Html.Raw(appointment.isReserved )" class="appointment-fields" />*@
            </fieldset>
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submit-appointment">Save changes</button>
      </div>
    </div>
  </div>
</div>